[Unit]
Description=Team Space Service
After=network.target

[Service]
User=ts
EnvironmentFile=/etc/sysconfig/team-space
WorkingDirectory=/home/ts/team-space
ExecStart=/bin/sh -c 'authbind java $JKS_KEYSTORE $P12_KEYSTORE $DB_DRIVER $DB_URL $DB_USER $DB_PASSWORD $DATA_IMPORT_DIR -jar $TS_JAR server config.yml>/dev/null 2>&1'
KillMode=control-group
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target